<style>
  .sub_tasks{
    margin-left: 2%
  }
  .done{color: green}
  .edit{color: gray}
  .delete{color: red}
</style>
<div class='task_set well'>
    <h5 class='parent_task'>
        1.Task one Parent task
        <span class='actions'>
          <i class="icon-plus done"></i>
          <i class="icon-ok done"></i>
          <i class="icon-edit edit"></i>
          <i class="icon-remove delete"></i>
        </span>
    </h5>
    <div class='sub_tasks'>
      <h5 class="sub_task">
          2.Sub task one
        <span class='actions'>
          <i class="icon-ok done"></i>
          <i class="icon-edit edit"></i>
          <i class="icon-remove delete"></i>
        </span>
      </h5>  
    </div>  
</div>