
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">{{upcoming_title}} 
          <!-- Button trigger modal -->
  	      <span class="glyphicon glyphicon-plus pull-right"> Add</span>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <% @tasks.each do |task| %>
          <%= render :partial => "task", :locals => {task: task} %>
        <% end %>
      </ul>
    </div>
</div>