<style>
  .sub_tasks{
    margin-left: 2%
  }
  .done{color: green}
  .edit{color: gray}
  .delete{color: red}
</style>

<div id="tasks"></div>

<script type="text/javascript">
  $(function() {
    window.router = new AppTodo.Routers.TasksRouter({tasks: <%= @tasks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>