<!-- Add and Edit labels -->
<div class="modal fade" id="labels_curd_model" tabindex="-1" role="dialog" aria-labelledby="LabelsCrud" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Manage Labels</h4>
      </div>
      <div class="modal-body">
        <table class='table'>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Color</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='label in labels'>
              <td>{{$index+1}}.</td>
              <td>{{label.name}}</td>
              <td></td>
              <td><i class="curptr fa fa-bitbucket"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button tupe='submit' class="btn btn-primary">Add Label</button>
      </div>
    </div>
  </div>
</div>
