<%= render :partial => "new_task_model" %>
<%= render :partial => "edit_task_model" %>
<!-- Page Container -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <h5>Period <span class="pull-right"><i class="fa fa-plus-circle"></i></span></h5>
      <ul class="nav nav-sidebar">
        <li><a href="#">Today <span class="badge pull-right">4</span></a></li>
        <li><a href="#">Tomorrow <span class="badge pull-right">1</span></a></li>
        <li><a href="#">This week <span class="badge pull-right">4</span></a></li>
        <li><a href="#">Next Week <span class="badge pull-right">6</span></a></li>
        <li><a href="#">This Month <span class="badge pull-right">10</span></a></li>
        <li><a href="#">Next Month <span class="badge pull-right">14</span></a></li>
      </ul>
      <h5>Label <span class="pull-right"><i class="fa fa-plus-circle"></i></span></h5>
      <ul class="nav nav-sidebar">
        <li ng-repeat="label in labels">
          <a href="">{{label.name}} <span class="badge badge-{{label.color}} pull-right">{{label.task_count}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Try any angular start-->
      <!-- Try any angular end -->
		  <div class="panel panel-primary">
	      <!-- Default panel contents -->
	      <div class="panel-heading">Upcoming Tasks <span class="pull-right" data-toggle="modal" data-target="#addNewTask"><i class="fa fa-plus-circle"></i></span></div>
	      <!-- List group -->
	      <ul class="list-group label_group">
	        <li class="list-group-item" ng-repeat='task in tasks | filter:searchTask'>
	        	{{task.name}}
    				<small class="text-muted">
    					<span style="text-decoration: underline;">March 14, 2014</span> - 02:15 am
    				</small>
            <span ng-repeat="label in task.labels_classes" ng-class='label.color_class'> 
              {{label.name}} 
            </span>
	        	<span class="pull-right">
	        		<span class="task-done"><i class="fa fa-check-square-o"></i> </span> 
	        		<span ng-click='getEditTask($index)'  data-toggle="modal" data-target="#editTask"> &nbsp; <i class="fa fa-pencil-square-o"></i> &nbsp; </span> 
	        		<span class="task-remove" ng-click='deleteTask(task.id, $index)'><i class="fa fa-bitbucket"></i> </span> 
	        	</span>
	        </li>
	      </ul>
	    </div>
    </div>
  </div>
</div>