<div class="page-header">
  <h1>
    Tasks    
  </h1>
</div>

<table id="tasks-table">
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>
